.hero {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.hero img {
    width: 200px; 
    height: auto;
    border-radius: 10px;
}

.hero-details {
    margin-top: 5px;
}

.hero-details h2,
.hero-details p {
    margin: 0;
}
